// Local Tasks and Actions
.tabs--primary,
.tabs--secondary {
  margin-top: rem($grid-gutter-width);
  margin-bottom: rem($grid-gutter-width);
}

// Collapsible Fieldsets
html.js fieldset.collapsed {
  height: auto;
}

// Hidden
.element-invisible {
  @include sr-only;
}

// Admin
#admin-menu {
  z-index: 9999;
}
